body
{
    background: linear-gradient(black, 70%, white);
    color: #FFB300;
    height: 200%;
}

main
{
    text-align: center;
}

header div
{
    display: flex;
    text-align: center;
}

h1
{
    margin: auto;
}

body
{
    background-color: #3D4952;
    color: #FFB300;
}

header div
{
    display: flex;
    text-align: center;
}

header ul
{
    display: flex;
    background: radial-gradient(white, #FFB300);
}

header ul li
{
    list-style: none;
    color: black;
}

header ul a
{
    margin: auto;
    padding: 16px;
}

a:hover
{
    text-decoration: none;
    font-weight: bold;
}

a li:hover
{
    text-decoration: none;
    font-size: large
}

.line {
    border-width:0.1em;
    border-style: solid;
    border-color: black;
    flex: 1;
}

h2 
{
    margin: 0 0.3em 0.5em 0.3em;
}

.container {
    position: relative;
    flex-basis: 50%;
}

.img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 100%;
}

.container:hover .img {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
    z-index: 1;
}

.text {
    background-color: #FFB300;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    width: 100%;
}

footer
{
    display: flex;
    text-align: center;
}

footer h3
{
    margin: auto;
}

address
{
    position: fixed;
    right: 1px;
    bottom: 3em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: #FFB300;
}

address a{
    color: black;
}

address a:hover
{
    color: black;
}
